#main a:link {
    color: maroon;
    background-color: transparent;
    text-decoration: none;
  }
  
#main  a:visited {
    color: maroon;
    background-color: transparent;
    text-decoration: none;
    
  }
  
#main a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
p{
    padding: 1%;
    color: white;
}